#Importing libraries

In [7]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

#Loading data

In [2]:
df = pd.read_csv('parkinsons_updrs.csv')

#Data analysis and visualisation

In [17]:
df.head(200)

     subject#  age  sex  test_time  ...     HNR     RPDE      DFA      PPE
0           1   72    0     5.6431  ...  21.640  0.41888  0.54842  0.16006
1           1   72    0    12.6660  ...  27.183  0.43493  0.56477  0.10810
2           1   72    0    19.6810  ...  23.047  0.46222  0.54405  0.21014
3           1   72    0    25.6470  ...  24.445  0.48730  0.57794  0.33277
4           1   72    0    33.6420  ...  26.126  0.47188  0.56122  0.19361
..        ...  ...  ...        ...  ...     ...      ...      ...      ...
195         2   58    0   166.7600  ...  21.257  0.54206  0.73044  0.32633
196         2   58    0   171.8000  ...  19.669  0.50186  0.79112  0.22276
197         2   58    0   178.8000  ...  25.919  0.44509  0.75375  0.18151
198         2   58    0     3.8660  ...  20.883  0.50137  0.75108  0.24236
199         2   58    0    10.8150  ...  18.384  0.49252  0.75548  0.23707

[200 rows x 22 columns]

In [4]:
df.shape

(5875, 22)

In [6]:
df.isna().sum()

subject#         0
age              0
sex              0
test_time        0
motor_UPDRS      0
total_UPDRS      0
Jitter(%)        0
Jitter(Abs)      0
Jitter:RAP       0
Jitter:PPQ5      0
Jitter:DDP       0
Shimmer          0
Shimmer(dB)      0
Shimmer:APQ3     0
Shimmer:APQ5     0
Shimmer:APQ11    0
Shimmer:DDA      0
NHR              0
HNR              0
RPDE             0
DFA              0
PPE              0
dtype: int64

In [26]:
df.columns

Index(['subject#', 'age', 'sex', 'test_time', 'motor_UPDRS', 'total_UPDRS',
       'Jitter(%)', 'Jitter(Abs)', 'Jitter:RAP', 'Jitter:PPQ5', 'Jitter:DDP',
       'Shimmer', 'Shimmer(dB)', 'Shimmer:APQ3', 'Shimmer:APQ5',
       'Shimmer:APQ11', 'Shimmer:DDA', 'NHR', 'HNR', 'RPDE', 'DFA', 'PPE'],
      dtype='object')

In [27]:
df.describe()

          subject#          age  ...          DFA          PPE
count  5875.000000  5875.000000  ...  5875.000000  5875.000000
mean     21.494128    64.804936  ...     0.653240     0.219589
std      12.372279     8.821524  ...     0.070902     0.091498
min       1.000000    36.000000  ...     0.514040     0.021983
25%      10.000000    58.000000  ...     0.596180     0.156340
50%      22.000000    65.000000  ...     0.643600     0.205500
75%      33.000000    72.000000  ...     0.711335     0.264490
max      42.000000    85.000000  ...     0.865600     0.731730

[8 rows x 22 columns]

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5875 entries, 0 to 5874
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   subject#       5875 non-null   int64
 1   age            5875 non-null   int64
 2   sex            5875 non-null   int64
 3   test_time      5875 non-null   float64
 4   motor_UPDRS    5875 non-null   float64
 5   total_UPDRS    5875 non-null   float64
 6   Jitter(%)      5875 non-null   float64
 7   Jitter(Abs)    5875 non-null   float64
 8   Jitter:RAP     5875 non-null   float64
 9   Jitter:PPQ5    5875 non-null   float64
 10  Jitter:DDP     5875 non-null   float64
 11  Shimmer        5875 non-null   float64
 12  Shimmer(dB)    5875 non-null   float64
 13  Shimmer:APQ3   5875 non-null   float64
 14  Shimmer:APQ5   5875 non-null   float64
 15  Shimmer:APQ11  5875 non-null   float64
 16  Shimmer:DDA    5875 non-null   float64
 17  NHR            5875 non-null   float64
 18  HNR            5875 non-null   float64
 19  RPDE           5875 non-null   float64
 20  DFA            5875 non-null   float64
 21  PPE            5875 non-null   float64
dtypes: float64(19), int64(3)
memory usage: 1009.9 KB